@import './functions';

#cooks {

    .wrapper {
        height: 450px;
    }

    img {
        float: right;
        height: 450px;
    }

    .content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    h2 {
        margin-bottom: 3rem;
        color: $green;
        font-family: Indie Flower;
    }

    p {
        line-height: 1.8em;
    }
}

#cooks2 {
    background-color: $bg2;

    .wrapper {
        @include displayFlex(row);
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .cooks2-item {
        margin: 0 2rem;
    }

    h3 {
        margin-top: 1.3rem;
        font-family: Indie Flower;
    }

    p {
        margin-top: 2rem;
    }
}